/* 

e[ad] EGGL Framework 

*/
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
::selection {
  background: #ffc8c8;
  color: colorBackground;
}
::-moz-selection {
  background: #ffc8c8;
  color: colorBackground;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #ffc8c8;
}
/* Variables.less
 * Variables to customize the look and feel
 * ----------------------------------------------------- */
/*

Funciones
// taken from twitterbootstrap @github
mayorly

*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*

GRILLA

*/
.pag {
  width: 1136px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px;
}
.fila {
  margin-left: -16px;
  margin-right: -16px;
  *zoom: 1;
}
.fila:before,
.fila:after {
  display: table;
  content: "";
}
.fila:after {
  clear: both;
}
/* */
[class*="col"] {
  float: left;
  margin-left: 16px;
}
[class*="col"].ver {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
[class*="col"].ver p {
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
}
.a1,
.col1 {
  width: 32px;
}
.a2,
.col2 {
  width: 80px;
}
.a3,
.col3 {
  width: 128px;
}
.a4,
.col4 {
  width: 176px;
}
.a5,
.col5 {
  width: 224px;
}
.a6,
.col6 {
  width: 272px;
}
.a7,
.col7 {
  width: 320px;
}
.a8,
.col8 {
  width: 368px;
}
.a9,
.col9 {
  width: 416px;
}
.a10,
.col10 {
  width: 464px;
}
.a11,
.col11 {
  width: 512px;
}
.a12,
.col12 {
  width: 560px;
}
.a13,
.col13 {
  width: 608px;
}
.a14,
.col14 {
  width: 656px;
}
.a15,
.col15 {
  width: 704px;
}
.a16,
.col16 {
  width: 752px;
}
.a17,
.col17 {
  width: 800px;
}
.a18,
.col18 {
  width: 848px;
}
.a19,
.col19 {
  width: 896px;
}
.a20,
.col20 {
  width: 944px;
}
.a21,
.col21 {
  width: 992px;
}
.a22,
.col22 {
  width: 1040px;
}
.a23,
.col23 {
  width: 1088px;
}
.a24,
.col24 {
  width: 1136px;
}
[class*="bloque"] {
  float: left;
  margin: 0;
}
[class*="bloque"].ver {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
}
[class*="bloque"].ver p {
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
}
.bloque1 {
  width: 48.666666666666664px;
}
.bloque2 {
  width: 97.33333333333333px;
}
.bloque3 {
  width: 146px;
}
.bloque4 {
  width: 194.66666666666666px;
}
.bloque5 {
  width: 243.33333333333331px;
}
.bloque6 {
  width: 292px;
}
.bloque7 {
  width: 340.66666666666663px;
}
.bloque8 {
  width: 389.3333333333333px;
}
.bloque9 {
  width: 438px;
}
.bloque10 {
  width: 486.66666666666663px;
}
.bloque11 {
  width: 535.3333333333333px;
}
.bloque12 {
  width: 584px;
}
.bloque13 {
  width: 632.6666666666666px;
}
.bloque14 {
  width: 681.3333333333333px;
}
.bloque15 {
  width: 730px;
}
.bloque16 {
  width: 778.6666666666666px;
}
.bloque17 {
  width: 827.3333333333333px;
}
.bloque18 {
  width: 876px;
}
.bloque19 {
  width: 924.6666666666666px;
}
.bloque20 {
  width: 973.3333333333333px;
}
.bloque21 {
  width: 1022px;
}
.bloque22 {
  width: 1070.6666666666665px;
}
.bloque23 {
  width: 1119.3333333333333px;
}
.bloque24 {
  width: 1168px;
}
.w1 {
  width: 1%;
}
.w2 {
  width: 2%;
}
.w3 {
  width: 3%;
}
.w4 {
  width: 4%;
}
.w5 {
  width: 5%;
}
.w6 {
  width: 6%;
}
.w7 {
  width: 7%;
}
.w8 {
  width: 8%;
}
.w9 {
  width: 9%;
}
.w10 {
  width: 10%;
}
.w11 {
  width: 11%;
}
.w12 {
  width: 12%;
}
.w13 {
  width: 13%;
}
.w14 {
  width: 14%;
}
.w15 {
  width: 15%;
}
.w16 {
  width: 16%;
}
.w17 {
  width: 17%;
}
.w18 {
  width: 18%;
}
.w19 {
  width: 19%;
}
.w20 {
  width: 20%;
}
.w21 {
  width: 21%;
}
.w22 {
  width: 22%;
}
.w23 {
  width: 23%;
}
.w24 {
  width: 24%;
}
.w25 {
  width: 25%;
}
.w26 {
  width: 26%;
}
.w27 {
  width: 27%;
}
.w28 {
  width: 28%;
}
.w29 {
  width: 29%;
}
.w30 {
  width: 30%;
}
.w31 {
  width: 31%;
}
.w32 {
  width: 32%;
}
.w33 {
  width: 33%;
}
.w34 {
  width: 34%;
}
.w35 {
  width: 35%;
}
.w36 {
  width: 36%;
}
.w37 {
  width: 37%;
}
.w38 {
  width: 38%;
}
.w39 {
  width: 39%;
}
.w40 {
  width: 40%;
}
.w41 {
  width: 41%;
}
.w42 {
  width: 42%;
}
.w43 {
  width: 43%;
}
.w44 {
  width: 44%;
}
.w45 {
  width: 45%;
}
.w46 {
  width: 46%;
}
.w47 {
  width: 47%;
}
.w48 {
  width: 48%;
}
.w49 {
  width: 49%;
}
.w50 {
  width: 50%;
}
.w51 {
  width: 51%;
}
.w52 {
  width: 52%;
}
.w53 {
  width: 53%;
}
.w54 {
  width: 54%;
}
.w55 {
  width: 55%;
}
.w56 {
  width: 56%;
}
.w57 {
  width: 57%;
}
.w58 {
  width: 58%;
}
.w59 {
  width: 59%;
}
.w60 {
  width: 60%;
}
.w61 {
  width: 61%;
}
.w62 {
  width: 62%;
}
.w63 {
  width: 63%;
}
.w64 {
  width: 64%;
}
.w65 {
  width: 65%;
}
.w66 {
  width: 66%;
}
.w67 {
  width: 67%;
}
.w68 {
  width: 68%;
}
.w69 {
  width: 69%;
}
.w70 {
  width: 70%;
}
.w71 {
  width: 71%;
}
.w72 {
  width: 72%;
}
.w73 {
  width: 73%;
}
.w74 {
  width: 74%;
}
.w75 {
  width: 75%;
}
.w76 {
  width: 76%;
}
.w77 {
  width: 77%;
}
.w78 {
  width: 78%;
}
.w79 {
  width: 79%;
}
.w80 {
  width: 80%;
}
.w81 {
  width: 81%;
}
.w82 {
  width: 82%;
}
.w83 {
  width: 83%;
}
.w84 {
  width: 84%;
}
.w85 {
  width: 85%;
}
.w86 {
  width: 86%;
}
.w87 {
  width: 87%;
}
.w88 {
  width: 88%;
}
.w89 {
  width: 89%;
}
.w90 {
  width: 90%;
}
.w91 {
  width: 91%;
}
.w92 {
  width: 92%;
}
.w93 {
  width: 93%;
}
.w94 {
  width: 94%;
}
.w95 {
  width: 95%;
}
.w96 {
  width: 96%;
}
.w97 {
  width: 97%;
}
.w98 {
  width: 98%;
}
.w99 {
  width: 99%;
}
.w100 {
  width: 100%;
}
.margen-superior {
  margin-top: 16px;
}
.margen-inferior {
  margin-bottom: 16px;
}
.centrada,
.centrado {
  text-align: center;
  margin: 0 auto;
}
/* 

Vers�til 

*/
@media (min-width: 0) and (max-width: 479px) {
  div.pag {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 1249px) {
  div.pag {
    width: 752px;
  }
}
@media (min-width: 1250px) and (max-width: 1799px) {
  div.pag {
    width: 1136px;
  }
}
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  background-repeat: repeat;
}
a {
  color: #c80000;
  text-decoration: none;
}
a:hover {
  background-color: #eff2db;
  text-decoration: underline;
}
a:visited {
  color: #c80000;
  text-decoration: line-through;
}
p {
  margin-bottom: 28.96px;
  line-height: 28.96px;
  color: rgba(0, 0, 0, 0.6);
}
p.fino {
  font-weight: 100;
}
p.grande {
  color: #808080;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0;
}
p.chico {
  font-size: 12.8px;
  line-height: 34.752px;
  color: rgba(0, 0, 0, 0.45);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
  margin: 0 0 28.96px 0;
  vertical-align: bottom;
}
h1.grande,
h2.grande,
h3.grande,
h4.grande,
h5.grande,
h6.grande {
  font-size: 1.5em;
  color: #c80000;
}
h1.gigante,
h2.gigante,
h3.gigante,
h4.gigante,
h5.gigante,
h6.gigante {
  font-size: 5em;
  line-height: 85%;
  color: #c80000;
  font-weight: 100;
}
h1.especial,
h2.especial,
h3.especial,
h4.especial,
h5.especial,
h6.especial {
  color: #c80000;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
h1.filete,
h2.filete,
h3.filete,
h4.filete,
h5.filete,
h6.filete {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
ul,
ol {
  margin: 0 0 28.96px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 28.96px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 28.96px;
}
dl dt,
dl dd {
  line-height: 28.96px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 14.48px;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
.muted {
  color: #bfbfbf;
}
blockquote {
  margin-bottom: 28.96px;
  border-left: 5px solid #eee;
  padding-left: 15px;
}
blockquote small {
  display: block;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  line-height: 28.96px;
  margin-bottom: 28.96px;
}
code,
pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 10.656px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
}
code {
  display: block;
  line-height: 19.287360000000003px;
  white-space: pre;
  background-color: #eff2db;
  padding: 0 1ex 0 1ex;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 13.98px;
  margin: 0 0 28.96px;
  line-height: 28.96px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.global {
  width: 1136px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.big {
  color: #bfbfbf;
  margin: -16px 0 0 0;
}
.main {
  color: #c80000;
  font-size: 48px;
}
.tdc {
  padding: 16px 32px;
  color: #808080;
  background-color: #eff2db;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin: 1em 0;
}
/*


 Patrones


*/
.pizarra {
  background-color: #323c46;
  color: rgba(255, 255, 255, 0.8);
}
.pizarra * {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}
.pizarra a {
  color: #00c8c8;
}
.pizarra a:hover {
  background-color: rgba(0, 200, 200, 0.1);
}
nav ul,
nav ol {
  margin: 0 -16px;
  padding: 0;
}
nav ul li,
nav ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
nav ul li a,
nav ol li a {
  margin: 0;
  font-weight: 800;
  color: #000000 !important;
  display: inline-block;
  padding: 16px 32px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
}
nav ul li a:hover,
nav ol li a:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.45);
}
/*

	Elementos de Interacción:
	
	Botones, formularios


*/
.btn {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  padding: 3px 10px 5px 10px;
  color: rgba(64, 64, 64, 0.5);
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), color-stop(80%, #e3e3e3), to(#d4d4d4));
  background-image: -webkit-linear-gradient(#f7f7f7, #e3e3e3 80%, #d4d4d4);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3 80%, #d4d4d4);
  background-image: -ms-linear-gradient(#f7f7f7, #e3e3e3 80%, #d4d4d4);
  background-image: -o-linear-gradient(#f7f7f7, #e3e3e3 80%, #d4d4d4);
  background-image: linear-gradient(#f7f7f7, #e3e3e3 80%, #d4d4d4);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#d4d4d4', GradientType=0);
  border: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 1px 1px 1px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 1px 1px 1px;
  box-shadow: inset rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.btn.grande {
  font-size: 16px;
  padding: 8px 16px;
}
.btn:hover {
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  text-decoration: none;
  background-color: #d6d6d6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), color-stop(50%, #d9d9d9), to(#cccccc));
  background-image: -webkit-linear-gradient(#f2f2f2, #d9d9d9 50%, #cccccc);
  background-image: -moz-linear-gradient(top, #f2f2f2, #d9d9d9 50%, #cccccc);
  background-image: -ms-linear-gradient(#f2f2f2, #d9d9d9 50%, #cccccc);
  background-image: -o-linear-gradient(#f2f2f2, #d9d9d9 50%, #cccccc);
  background-image: linear-gradient(#f2f2f2, #d9d9d9 50%, #cccccc);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cccccc', GradientType=0);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 4px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 4px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 4px;
}
/**

TABLAS

**/
table {
  border-collapse: collapse;
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  border-right: 1px solid rgba(128, 128, 128, 0.3);
}
table tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
table tr:first-of-type {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}
table th,
table td {
  padding: 8px;
  text-align: left;
}
table th {
  font-weight: bold;
}
table td {
  color: rgba(0, 0, 0, 0.6);
}
