/* 

e[ad] EGGL Framework 

*/
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
::selection {
  background: #ffc8c8;
  color: colorBackground;
}
::-moz-selection {
  background: #ffc8c8;
  color: colorBackground;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #ffc8c8;
}
/* Variables.less
 * Variables to customize the look and feel
 * ----------------------------------------------------- */
/*

Funciones

*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*

GRILLA

*/
.contenedor {
  width: 1270px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
}
.fila {
  margin: 0 -10px 0 -10px;
  *zoom: 1;
}
.fila:before,
.fila:after {
  display: table;
  content: "";
}
.fila:after {
  clear: both;
}
[class*="col"] {
  float: left;
  margin-left: 10px;
}
[class*="col"].ver {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
[class*="col"].ver p {
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
}
.col1 {
  width: 70px;
}
.col2 {
  width: 150px;
}
.col3 {
  width: 230px;
}
.col4 {
  width: 310px;
}
.col5 {
  width: 390px;
}
.col6 {
  width: 470px;
}
.col7 {
  width: 550px;
}
.col8 {
  width: 630px;
}
.col9 {
  width: 710px;
}
.col10 {
  width: 790px;
}
.col11 {
  width: 870px;
}
.col12 {
  width: 950px;
}
.col13 {
  width: 1030px;
}
.col14 {
  width: 1110px;
}
.col15 {
  width: 1190px;
}
.col16 {
  width: 1270px;
}
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: #bfbfbf;
}
a {
  color: #c80000;
  text-decoration: none;
}
a:hover {
  background-color: #eff2db;
  text-decoration: underline;
}
a:visited {
  color: #c80000;
  text-decoration: line-through;
}
p {
  margin-bottom: 25.34px;
  line-height: 25.34px;
}
p.fino {
  font-weight: lighter;
}
p.grande {
  color: #808080;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
p small {
  font-size: 14px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
  line-height: 25.34px;
  margin: 25.34px 0;
}
h1.grande,
h2.grande,
h3.grande,
h4.grande,
h5.grande,
h6.grande {
  font-size: 1.5em;
  color: #c80000;
}
h1.gigante,
h2.gigante,
h3.gigante,
h4.gigante,
h5.gigante,
h6.gigante {
  font-size: 3em;
  color: #c80000;
  margin: 0;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
ul,
ol {
  margin: 0 0 25.34px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 25.34px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 25.34px;
}
dl dt,
dl dd {
  line-height: 25.34px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 12.67px;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
.muted {
  color: #bfbfbf;
}
blockquote {
  margin-bottom: 25.34px;
  border-left: 5px solid #eee;
  padding-left: 15px;
}
blockquote small {
  display: block;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  line-height: 25.34px;
  margin-bottom: 25.34px;
}
code,
pre {
  padding: 2px 2.8px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  border-radius: 1ex;
}
code {
  background-color: #eff2db;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 12.17px;
  margin: 0 0 25.34px;
  line-height: 25.34px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.global {
  width: 1270px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.big {
  color: #bfbfbf;
  margin: -14px 0 0 0;
}
.main {
  color: #c80000;
  font-size: 42px;
}
.tdc {
  padding: 14px 28px;
  color: #808080;
  background-color: #eff2db;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin: 1em 0;
}
/**

TABLAS

**/
table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #bfbfbf;
}
table tr:first-of-type {
  border-top: 1px solid #bfbfbf;
}
table th,
table td {
  padding: 10px;
}
