/*


 Patrones


*/

.pizarra{
	background-color: @pizarra;
	color: fade(@blanco, 80%);
	* {
		color: fade(@blanco, 80%);
		font-weight: 100;
	}
	
	a{
		color: @colorOpuesto;
	}
	a:hover{
		background-color: fade(@colorOpuesto, 10%);
	}

}

nav{
	margin: 0 -@interColumna;
	border-top: 1px solid @borde;
	border-bottom: 1px solid @borde;
	
	ul, ol{
	margin: 0;
	padding: 0;
	//.box-shadow(inset 0 0 3px fade(@negro, 50%));

	.clearfix;
		
		li{
			display: inline;
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: left;
		
			a{	
				display: inline-block;	
				margin: 0;
				padding: @cuerpo 2*@cuerpo;
				font-weight: bold;
				color: @negro !important;
				font-size: 14px;
				text-transform: uppercase;

			}
			
			a:hover{
				text-decoration: none;
				background-color: @blanco;
				color: @linkColor !important;
				.transition(.5s ease all);
			}
		}	
	}
}

footer{
	
	margin: @interColumna -@interColumna -2*@interColumna -@interColumna;
	background-color: darken(@blanco, 10%);
	.box-shadow(inset 0 2px 2px fade(@negro, 20%));
	.clearfix;
	
	p{margin: 2 * @interColumna @interColumna; }
}