/**

TABLAS

**/


table{
	border-collapse: collapse;
	border-left: 1px solid @borde;
	border-right: 1px solid @borde;
	
	tr{
		border-bottom: 1px solid @borde;
		
		&:first-of-type{
			border-top: 1px solid @borde;
		}
	}
	th, td{
		padding: @interColumna /2;
		text-align: left;
	}
	
	th{
		font-weight: bold;
	}
	
	td{
		color: fade(@negro, 60%);
	}
}

