/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */


// Links
@linkColor:         rgba(200, 0, 0, 1);
@colorLink:			@linkColor;
@linkColorHover:    darken(@linkColor, 15%);

// Grays
@black:             rgba(0, 0, 0, 1);
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         lighten(@black, 75%);
@grayLighter:       lighten(@black, 90%);
@white:             #fff;

// Accent Colors
@blue:              rgba(43, 115, 225, .95);
@blueDark:          darken(@blue, 15%);
@green:             rgba(99, 160, 33, .95);
@greenDark:			darken(@green, 15%);
@red:				rgba(203, 46, 45, .95);
@redDark:			darken(@red, 15%);
@yellow:            rgba(247, 217, 62, 1);
@orange:            rgba(224, 117, 0, 1);
@pink:              rgba(231, 127, 204, .95);
@purple:            rgba(120, 80, 200, .95);

// Baseline grid
@basefontsize:		16px;
@basefont:          @basefontsize * 1em;
@em:				@basefont;
@baseline:          @em * 1.81;

// Griditude
// Modify the grid styles in mixins.less

@gridColumns:		16;
@gridColumnWidth:	32 * @em;
@gridGutterWidth:	2 * @em;
@extraSpace:		(@gridGutterWidth * 2); // For our grid calculations
@siteWidth:			(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Color Scheme
// Use this to roll your own color schemes if you like (unused by Bootstrap by default)
@baseColor:			@grayDark;				// Set a base color
@complement:		spin(@baseColor, 180);	// Determine a complementary color
@split1:			spin(@baseColor, 158);	// Split complements
@split2:			spin(@baseColor, -158);
@triad1:			spin(@baseColor, 135);	// Triads colors
@triad2:			spin(@baseColor, -135);
@tetra1:			spin(@baseColor, 90);	// Tetra colors
@tetra2:			spin(@baseColor, -90);
@analog1:			spin(@baseColor, 22);	// Analogs colors
@analog2:			spin(@baseColor, -22);

@iconFontFamily:        "IconicStrokeRegular";
@iconFileName:          "fonts/iconic_stroke";
@iconColor:             @baseColor;
@alternativeIconColor:  @white;
@iconBasefont:          @em;
@iconBaseline:          @baseline;

// More variables coming soon:
// - @basefont to @baseFontSize
// - @baseline to @baseLineHeight
// - @baseFontFamily
// - @primaryButtonColor
// - anything else? File an issue on GitHub