/* Variables.less
 * Variables to customize the look and feel
 * ----------------------------------------------------- */

@sans:				"Helvetica Neue", Helvetica, Arial, sans-serif;
@serif:				Georgia, serif;
@mono:				Monaco, Menlo, "Courier New", Courier, monospace;
@tipografia:		@sans;


// Grises
@negro:				rgba(0, 0, 0, 1);
@grisOscuro:		lighten(@negro, 25%);
@gris:				lighten(@negro, 50%);
@grisClaro:			lighten(@negro, 75%);
@blanco:			rgba(255, 255, 255, 1);

// Colores
@azul:				rgba(43, 115, 225, .95);
@azulOscuro:		darken(@azul, 15%);
@verde:				rgba(99, 160, 33, .95);
@verdeOscuro:		darken(@verde, 15%);
@rojo:				rgba(200, 0, 0, 1);
@rojoOscuro:		darken(@rojo, 20%);

// Especiales
@pizarra:			rgba(50, 60, 70, 1);
@ahuesado:			rgba(239, 242, 219, 1);
@borde:				fade(@gris, 30%);

// Links
@linkColor:         @rojo;
@colorLink:			@linkColor;
@linkColorHover:    darken(@linkColor, 15%);
@colorOpuesto:		spin(@linkColor, 180);

// Proporciones tipográficas
@font-size:			16px;					// tamaño base en pixeles
@cuerpo:			@font-size;
@em: 				@font-size * 1em;		// atajo para salida en ems, ej. "12/@em"
@interlinea:        @em * 1.81;


// Grilla
@columnas:			24;
@columna: 			2 * @cuerpo;
@interColumna: 		1 * @cuerpo;
@anchoTotal:		(@columnas * (@columna + @interColumna) - @interColumna);

// Anchos de columna

 @1cols: ( 1 * (@columna + @interColumna) - @interColumna); @1col: @1cols;
 @2cols: ( 2 * (@columna + @interColumna) - @interColumna);
 @3cols: ( 3 * (@columna + @interColumna) - @interColumna);
 @4cols: ( 4 * (@columna + @interColumna) - @interColumna);
 @5cols: ( 5 * (@columna + @interColumna) - @interColumna);
 @6cols: ( 6 * (@columna + @interColumna) - @interColumna);
 @7cols: ( 7 * (@columna + @interColumna) - @interColumna);
 @8cols: ( 8 * (@columna + @interColumna) - @interColumna);
 @9cols: ( 9 * (@columna + @interColumna) - @interColumna);
@10cols: (10 * (@columna + @interColumna) - @interColumna);
@11cols: (11 * (@columna + @interColumna) - @interColumna);
@12cols: (12 * (@columna + @interColumna) - @interColumna);
@13cols: (13 * (@columna + @interColumna) - @interColumna);
@14cols: (14 * (@columna + @interColumna) - @interColumna);
@15cols: (15 * (@columna + @interColumna) - @interColumna);
@16cols: (16 * (@columna + @interColumna) - @interColumna);
@17cols: (17 * (@columna + @interColumna) - @interColumna);
@18cols: (18 * (@columna + @interColumna) - @interColumna);
@19cols: (19 * (@columna + @interColumna) - @interColumna);
@20cols: (20 * (@columna + @interColumna) - @interColumna);
@21cols: (21 * (@columna + @interColumna) - @interColumna);
@22cols: (22 * (@columna + @interColumna) - @interColumna);
@23cols: (23 * (@columna + @interColumna) - @interColumna);
@24cols: (24 * (@columna + @interColumna) - @interColumna);

// Ancho del bloque

@bloque:	(@anchoTotal + 2 * @interColumna) / @columnas;

